body
{
  position: relative;
  min-height: auto;
  text-align: center;
  color: #fff !important;
  font-family: 'Open Sans', sans-serif !important;
  background-image: url('background.png') !important;
  background-repeat: repeat;
  margin: 0px;
}
::-webkit-scrollbar-track
{
  border-radius: 2.5px;
  background-color: hsla(0, 1%, 62%, 0.24);
}

::-webkit-scrollbar
{
  width: 2.5px;
  background-color: hsla(0, 1%, 62%, 0.24);
}

::-webkit-scrollbar-thumb
{
  border-radius: 2.5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
input {
  background-color: hsla(0, 0%, 100%, 0.2); /* we gotta use hsla instead of hex because idk */
  border: 0px solid;
  padding: 10px 15px;
  margin-bottom: 5px;
  color: white;
}
#onlu {
  visibility: hidden;
}
#CANCEL_BUTTON {
  display: block;
  margin: auto;
  margin-top: 5px;
}
.info
{
  background-color: hsla(0, 0%, 100%, 0.2);
  height: 37px;
  padding-top: 10px;
  font-size: 16px;
}

#overlay {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(hsla(0, 0%, 100%, 0),hsl(0, 0%, 14%));
  pointer-events: none;
}
#uploadb {
  background: url(upload.png);
  background-color: hsla(0, 0%, 60%, 0.18);
  background-position: center;
  background-repeat: no-repeat;
  border: 0.5px grey solid;
  height: 61px;
  width: 100px;
  font-size: 19px;
  margin-top: 15px;
}
#camerab {
  background: url(camera.png);
  background-color: hsla(0, 0%, 60%, 0.18);
  background-position: center;
  background-repeat: no-repeat;
  border: 0.5px grey solid;
  height: 61px;
  width: 100px;
  font-size: 19px;
  padding-left: 60px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 29px;
  width: 100%;
  color: white;
  text-align: center;
}
#LOGOUT_BUTTON {
  background: #983836 url(logout.png);
  width: 70px;
  position: absolute;
  top: 6px;
  right: 3px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}
#SETTINGS_BUTTON {
  background-image: url(settings.png);
  width: 70px;
  position: absolute;
  top: 6px;
  left: 3px;
  border: 0px solid;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}
#table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 45% !important;
  float: center;
  margin-left: 27.5%; 
  margin-right: 27.5%;
}
#stable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 45% !important;
  float: center;
  margin-left: 27.5%; 
  margin-right: 27.5%;
}
td, th {
  border: 1px solid #6b6b6b;
  border-left: hidden;
  border-right: hidden;
  padding: 8px;
}
.thumb {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 6px;
  border:1px solid grey;
}
.timestamp {
  color: gray;
}
#message {
  display: block;
  padding-top: 10px;
}